<div class="columns is-multiline">
  <div class="column is-half is-offset-one-quarter">
    <section class="hero is-primary">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            New Comment for:
            <strong class="is-italic"><%= @tweet.title %> tweet</strong>
          </h1>
        </div>
      </div>
    </section>
    <%= render 'form', tweet: @tweet, comment: @comment, submit: "New Comment" %>
  </div>
</div>


