<section class="hero  is-info">
  <div class="hero-body">
    <h1 class="title">Inbox</h1>
    <br>
    <div class="container">
      <h2 class="subtitle"> Active conversations: </h2>
      <% @conversations.each do |conversation| %>
        <ul>
          <%= link_to conversation_messages_path(conversation) do %>
            <%= conversation.recipient(current_user).name %>
            <% if !conversation.unread_message_count(current_user).zero? %>
              <span class="tag is-danger"><%= conversation.unread_message_count(current_user) %></span>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</section>
