<section class="hero is-primary">
  <div class="hero-body">
      <h1 class="title">
        Create new tweet!
      </h1>
  </div>
</section>

<%= render 'form', tweet: @tweet, submit: 'Save Tweet'  %>