<div class="columns is-multiline">
  <div class="column is-6 is-offset-3">

    <%= render @tweet %>

    <h3 class="subtitle is-4">Comments:</h3>
    <%= render @comments %>

    <%= render 'comments/form', tweet: @tweet, comment: @tweet.comments.build %>

   </div>
</div>