<div class="columns is-multiline">
  <div class="column is-half is-offset-one-quarter">
    <section class="hero is-primary">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
              <% if @user.profile_picture.present? %>
            <p>
            <figure class="image is-128x128 has-image-centered">
            <%= image_tag @user.profile_picture, class: "is-rounded" %>
            <% end %>
            </figure>
            </p>
            <strong> <%= @user.name %></strong>
          </h1>
          <p><%= @user.email %></p>
        </div>
      </div>
    </section>
  </div>
</div>
