<div class="columns is-multiline">
  <div class="column is-half is-offset-one-quarter">
    <section class="hero is-primary">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
              <% if @user.profile_picture.present? %>
            <p>
            <%= image_tag @user.profile_picture, class: "profile-image" %>
            <% end %>
            </p>
            <strong> <%= @user.name %></strong>
          </h1>
            <% unless current_user == @user  %>
              <%= link_to conversation_messages_path(@conversation) do %>
               <span> Send message <i class="fas fa-envelope"></i> </span>
              <% end %>
            <% end %>
          <p><%= @user.email %></p>
        </div>
      </div>
    </section>
  </div>
</div>
