<div class="columns is-multiline">
  <div class="column is-half is-offset-one-quarter">
    <section class="hero is-primary">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            <strong> <%= @user.name %></strong>
          </h1>
          <p><%= @user.email %></p>
        </div>
      </div>
    </section>
  </div>
</div>

