<div class="columns is-multiline">
  <div class="column is-half is-offset-one-quarter">
    <section class="hero is-primary">
      <div class="hero-body has-text-centered">
        <div class="container">
          <h1 class="title">
            <strong> <%= "#{current_user.name} Tweets:" %></strong>
          </h1>
          <h2 class="title">
            <strong> You have <%= pluralize(@user.tweets.count, "Tweet") %></strong>
          </h2>
        </div>
      </div>
    </section>
 <br>
    <% current_user.tweets.each do |tweet| %>
     <ul> <div class="control has-icons-right"> <%= link_to tweet.title, tweet_path(tweet), class:"input"%>
      <span class="icon is-right has-text-dark mr-2">  <i class="fas fa-comments mr-1"></i> <%= tweet.comments.count %></span> </ul>
      <% end%>
      </div>
  </div>
</div>
