// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a, a:visited, a:active {
  color: inherit !important;
  text-decoration: none !important;
  text-transform: none;
}


.field_with_errors input {
  border-color: #f14668;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dce4ec;
  text-align: center;
}

.section {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

.image {
  border-radius: 50%;
  max-block-size: 100%;
}


.author {
  color: lighten($color: #b1b1b1, $amount: 0);
}

.navbar {
  background: #dce4ec;
}

.white {
  color: white;
}
